.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .tag:hover {
    background-color: #e2e2e2;
  }
  
  .tag:active {
    background-color: #d2d2d2;
  }
  
  .tag__remove {
    margin-left: 5px;
    font-weight: 400;
    color: #999;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .tag__remove:hover {
    color: #777;
  }
  
  .tag__remove:active {
    color: #555;
  }
  