.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-group-item h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .list-group-item p {
    margin: 0;
  }
  
  .edit-button,
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-left: 10px;
  }
  